@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292E;
  --border-color: #28292E;

  --title-color: #9A9A9C;
  --text-color: #9A9A9C;
  --link-color: #9A9A9C;
  --icon-color: #C7C8C9;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
}

body {
  background-color: var(--primary-bg-color);
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 600;
}

i {
  color: var(--icon-color);
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}

.header__brand .brand__logo {
  width: 3.25rem;
  height: 3.25rem;
}

.header__toggle {
  text-align: end;
}

#toggleTheme {
  font-size: 1.5rem;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  background-color: var(--primary-bg-color);
}

.menu__item {
  width: 100%;
}

.menu--mobile {
  width: 100svw;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
}

.menu--mobile .menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
  color: var(--primary-color);
  font-weight: 600;
}

.menu__icon, .menu__text {
  color: var(--text-color);
}

.menu__icon {
  font-size: 1.5rem;
}

.menu__text {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.header__nav {
  display: none;
}

.menu--principal {
  gap: 1rem
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 6rem;
    background-color: var(--primary-bg-color);
  }

  .nav--mobile {
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header__nav,
  .header__toggle {
    min-width: 30%;
  }

  .menu__text {
    font-size: 0.875rem;
  }
}


@media (min-width: 1400px) {
  .header {
    padding: 1rem 15rem;
  }

  .menu__text {
    font-size: 1rem;
  }
}